node_modules/
dist/
dist-ssr/
coverage/
.vite/

logs/
*.log
npm-debug.log*

.env
.env.local
.env.*.local

src/api/generated/

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
